html, body {
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation {
    height:60px;
    padding:10px;
}

.navigation button {
    width:40px;
    height:40px;
}

.navigation button:nth-child(2) {
    float:right;
}

.application {
    width:100%;
    height:calc(100% - 60px);
    position:relative;
    background-color:black;
}

.page {
    background-color:white;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate(0,0);
}
